{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags  staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block header %}
<header class="masthead aboutheader text-center text-white d-flex"></header>
{% endblock header %}


{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

</nav>
{% endblock %}

{% block content %}

<section class="bg-dark">

	<div class="text-white rtl text-center container">
		<p style="font-size: 25px">
	ما بخش اینترنت اشیاء از دپارتمان فنی و مهندسی مرکز رشد واحدهای فناور پیشرفته مخابرات جهاد دانشگاهی هستیم
		</br>
	که در راستای ارتقای سواد و فناوری اینترنت اشیا در کشور فعالیت می‌کنیم.
</p>
	</div>

</section>


<section class="bg-warning">

	<div class="rtl text-center container">
فرم ارتباط با ما

	</div>



</section>

 
{% endblock content %}
