{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles %}
{% block meta %}
    {% if article %}
        {# rendering article detail page #}
        <meta name="description" content="{{ article.meta_description }}">
    {% else %}
        {# rendering article landing page #}
        {{ block.super }}
    {% endif %}
{% endblock meta%}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block header %}
<header class="padhead bg-main"></header>
{% endblock header %}


{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top rtl" id="mainNav">
    {% include "menu.html" %}
	</nav>
{% endblock %}
{% block content %}
 
{% endblock content %}
