{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags  staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}



{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
	
</nav>

{% endblock %}




{% block header %}
<div id="demo" class="carousel carousel-fade slide" data-ride="carousel" data-pause="false">
	<ul class="carousel-indicators">
		<li data-target="#demo" data-slide-to="0" class="active"></li>
		<li data-target="#demo" data-slide-to="1"></li>
		<li data-target="#demo" data-slide-to="2"></li>
		<li data-target="#demo" data-slide-to="3"></li>
		
	  </ul>
	
	<div class="carousel-inner">
	  <div class="carousel-item active">		
			<header class="masthead masthead1 text-center text-white d-flex">
			  
				<div class="container my-auto">
					<div class="row">
						<div class="col-lg-10 mx-auto">
							<h1 class="text-uppercase">
								<strong class="persian">{% placeholder text1_1 %}</strong>
							</h1>
							<hr>
						</div>
						<div class="col-lg-8 mx-auto">
							<p class="text-faded mb-5">{% placeholder text1_2 %} </p>
							<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
						</div>
					</div>
				</div>
			</header>

	  </div> 
	  <div class="carousel-item ">
			<header class=" masthead masthead2 text-center text-white d-flex">
				<div class="container my-auto">
					<div class="row">
						<div class="col-lg-10 mx-auto">
							<h1 class="text-uppercase">
								<strong class="persian">{% placeholder text2_1 %}</strong>
							</h1>
							<hr>
						</div>
						<div class="col-lg-8 mx-auto">
							<p class="text-faded mb-5">{% placeholder text2_2 %}</p>
							<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
						</div>
					</div>
				</div>
			</header>

	  </div>
	  <div class="carousel-item">


		<header class="masthead3 masthead text-center text-white d-flex">
			
		

			<div class="container my-auto">
				<div class="row">
					<div class="col-lg-10 mx-auto">
						<h1 class="text-uppercase">
							<strong class="persian">{% placeholder text3_1 %}</strong>
						</h1>
						<hr>
					</div>
					<div class="col-lg-8 mx-auto">
						<p class="text-faded mb-5">{% placeholder text3_2 %}</p>
						<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
					</div>
				</div>
			</div>
		</header>
	  </div>
	  <div class="carousel-item ">
		<header class="masthead4 masthead text-center text-white d-flex">
				<div class="container my-auto">
					<div class="row">
						<div class="col-lg-10 mx-auto">
							<h1 class="text-uppercase">
								<strong class="persian">{% placeholder text4_1 %}</strong>
							</h1>
							<hr>
						</div>
						<div class="col-lg-8 mx-auto">
							<p class="text-faded mb-5">{% placeholder text4_2 %}</p>
							<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
						</div>
					</div>
				</div>
			</header>

	  </div>
	</div>
	

   
  </div>

{% endblock header %}




{% block content  %}





<!-- about us -->
	<section id="about" class="bg-events">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">رویداد ها</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class=" rtl row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-tv text-black mb-3 sr-icons"></i>
              <h3 class="mb-3">کارگاه های آموزشی</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fas fa-users fa-4x  text-black mb-3 sr-icons"></i>
              <h3 class="mb-3">مسابقات</h3>
              <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-clone text-black mb-3 sr-icons"></i>
              <h3 class="mb-3">همایش</h3>
              <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fab fa-free-code-camp  fa-4x fa text-black mb-3 sr-icons"></i>
              <h3 class="mb-3">بوت کمپ</h3>
              <p class="text-muted mb-0">You have to make your websites with love these days!</p>
            </div>
          </div>
        </div>
			</div>
			<br/>
			<br/>
			<br/>
			<div class="mb-3 text-white rtl text-center container">
				رویدادهای بسیاری در ایران و جهان حول اینترنت اشیا برگزار می‌شود: همایش، سخنرانی، نمایشگاه، مسابقه، کلاس‌های آموزشی و ... ما شما را از همه‌ی آن‌ها در زمان مناسب خبردار می‌سازیم.		
		
			</div>
	</section>
	




<!-- news -->
		<section id="news" class="text-white bg-news">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2 class="section-heading">آخرین اخبار روز اینترنت اشیاء‌ در ایران و دنیا</h2>
							<hr class="my-4">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row text-white">
						<div class="col-lg-8 col-md-8 col-xs-12">
							<div class="row">
								<div class="col">
										
								</div>
								<div class="col">
									
								</div>
							</div>
							<div class="row">
								<div class="col">
									
								</div>
								<div class="col">
									
								</div>
							</div>
						</div>


						<div class="text-right rtl col-lg-4 col-md-4 col-xs-12">

						<div>
							خلاصه ی اخبار روز دنیا ...<br/>
							خبرهای متعدد اینترنت اشیا ایران و جهان را از اینجا پیگیری کنید و از همه‌ی تازه‌های این حوزه باخبر شوید.
						</div>

				


					</div>
				</div>
		</section>












	<!-- articles -->
		<section id="services" class="bg-articles">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 text-center">
								<h2 class="section-heading">At Your Service</h2>
								<hr class="my-4">
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6 text-center">
								<div class="service-box mt-5 mx-auto">
									<i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
									<h3 class="mb-3">Sturdy Templates</h3>
									<p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 text-center">
								<div class="service-box mt-5 mx-auto">
									<i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
									<h3 class="mb-3">Ready to Ship</h3>
									<p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 text-center">
								<div class="service-box mt-5 mx-auto">
									<i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
									<h3 class="mb-3">Up to Date</h3>
									<p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 text-center">
								<div class="service-box mt-5 mx-auto">
									<i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
									<h3 class="mb-3">Made with Love</h3>
									<p class="text-muted mb-0">You have to make your websites with love these days!</p>
								</div>
							</div>
						</div>
					</div>
		</section>
		<!-- work with us -->
		<section id="services" class="bg-work">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 text-center">
									<h2 class="section-heading">At Your Service</h2>
									<hr class="my-4">
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="col-lg-3 col-md-6 text-center">
									<div class="service-box mt-5 mx-auto">
										<i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
										<h3 class="mb-3">Sturdy Templates</h3>
										<p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 text-center">
									<div class="service-box mt-5 mx-auto">
										<i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
										<h3 class="mb-3">Ready to Ship</h3>
										<p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 text-center">
									<div class="service-box mt-5 mx-auto">
										<i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
										<h3 class="mb-3">Up to Date</h3>
										<p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 text-center">
									<div class="service-box mt-5 mx-auto">
										<i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
										<h3 class="mb-3">Made with Love</h3>
										<p class="text-muted mb-0">You have to make your websites with love these days!</p>
									</div>
								</div>
							</div>
						</div>
		</section>
			
	

	



	
{% endblock content %}
