{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags  staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}



{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<img class="logo" src="{% static "img/logo2.png"%}" alt="faild">
		<img class="logo" src="{% static "img/logo3.jpg"%}" alt="faild">
  
		<div class="container">
		  <a class="navbar-brand js-scroll-trigger" href="#page-top">دپارتمان اینترنت چیز ها</a>
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive">
  
			<ul class="navbar-nav ml-auto  ">
		<li class="nav-item nav-link">
			<a href="/" class="nav-link js-scroll-trigger">صفحه اصلی</a>
		</li>
		<li class="nav-item nav-link">
			<a href="/fa/about" class="nav-link js-scroll-trigger">درباره ی ما</a>
		</li>
		<li class="nav-item nav-link">
			<a href="/fa/events" class="nav-link js-scroll-trigger">رویدادها</a>
		</li>
		<li class="nav-item nav-link">
			<a href="/fa/khbr" class="nav-link js-scroll-trigger">اخبار</a>
		</li>

		<li class="nav-item nav-link">
			<a href="/fa/articles" class="nav-link js-scroll-trigger">مقالات</a>
		</li>

		<li class="nav-item nav-link">
			<a href="/fa/hmr-b-m" class="nav-link js-scroll-trigger">همکاری با ما</a>
		</li>
		<li class="nav-item nav-link">
			<a href="/fa/dnshnmh" class="nav-link js-scroll-trigger">دانشنامه</a>
		</li>
		<li class="nav-item nav-link">
				<a href="/fa/media" class="nav-link js-scroll-trigger">مدیا</a>
			</li>
	
		<li class="nav-item nav-link dropdown">
			<a href="#" class="language dropdown-toggle nav-link" data-toggle="dropdown">دسته بندی <b class="caret"></b></a>
				<ul class="dropdown-menu">
						  <li class="nav-link nav-item">
							  <a class="nav-link " href="/fa/dsth-bnd/khnh-hoshmnd">
								خانه ی هوشمند
							  </a>
						  </li>
						  <li class="nav-link nav-item">
							<a href="/fa/dsth-bnd/shhr-hoshmnd" class="nav-link ">
							شهر هوشمند
							</a>
						  </li>
						  <li class="nav-link nav-item">
								<a href="/fa/dsth-bnd/snaat-nsl" class="nav-link ">
								صنعت نسل ۴
								</a>
						   </li>
						   <li class="nav-link nav-item">
								<a href="/fa/dsth-bnd/mnt" class="nav-link ">
								امنیت
								</a>
							  </li>
			    </ul>
		   
	    </li>




				<li class="nav-item nav-link dropdown">
					<a href="#" class="language dropdown-toggle nav-link" data-toggle="dropdown">فا/En <b class="caret"></b></a>
					<ul class="dropdown-menu">
							  <li class="nav-link nav-item">
								  <a class="nav-link language " href="/fa">
									فارسی
								  </a>
							  </li>
							  <li class="nav-link nav-item">
								<a href="/en" class="nav-link language">
								English
								</a>
							  </li>
				  </ul>
			   
				</li>
			</ul>
		  </div>
		</div>
	  </nav>

{% endblock %}




{% block header %}
<div id="demo" class="carousel carousel-fade slide" data-ride="carousel" data-pause="false">
	<ul class="carousel-indicators">
		<li data-target="#demo" data-slide-to="0" class="active"></li>
		<li data-target="#demo" data-slide-to="1"></li>
		<li data-target="#demo" data-slide-to="2"></li>
		<li data-target="#demo" data-slide-to="3"></li>
		
	  </ul>
	
	<div class="carousel-inner">
	  <div class="carousel-item active">		
			<header class="masthead masthead1 text-center text-white d-flex">
			  
				<div class="container my-auto">
					<div class="row">
						<div class="col-lg-10 mx-auto">
							<h1 class="text-uppercase">
								<strong class="persian">{% placeholder text1_1 %}</strong>
							</h1>
							<hr>
						</div>
						<div class="col-lg-8 mx-auto">
							<p class="text-faded mb-5">{% placeholder text1_2 %} </p>
							<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
						</div>
					</div>
				</div>
			</header>

	  </div> 
	  <div class="carousel-item ">
			<header class=" masthead masthead2 text-center text-white d-flex">
				<div class="container my-auto">
					<div class="row">
						<div class="col-lg-10 mx-auto">
							<h1 class="text-uppercase">
								<strong class="persian">{% placeholder text2_1 %}</strong>
							</h1>
							<hr>
						</div>
						<div class="col-lg-8 mx-auto">
							<p class="text-faded mb-5">{% placeholder text2_2 %}</p>
							<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
						</div>
					</div>
				</div>
			</header>

	  </div>
	  <div class="carousel-item">


		<header class="masthead3 masthead text-center text-white d-flex">
			
		

			<div class="container my-auto">
				<div class="row">
					<div class="col-lg-10 mx-auto">
						<h1 class="text-uppercase">
							<strong class="persian">{% placeholder text3_1 %}</strong>
						</h1>
						<hr>
					</div>
					<div class="col-lg-8 mx-auto">
						<p class="text-faded mb-5">{% placeholder text3_2 %}</p>
						<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
					</div>
				</div>
			</div>
		</header>
	  </div>
	  <div class="carousel-item ">
		<header class="masthead4 masthead text-center text-white d-flex">
				<div class="container my-auto">
					<div class="row">
						<div class="col-lg-10 mx-auto">
							<h1 class="text-uppercase">
								<strong class="persian">{% placeholder text4_1 %}</strong>
							</h1>
							<hr>
						</div>
						<div class="col-lg-8 mx-auto">
							<p class="text-faded mb-5">{% placeholder text4_2 %}</p>
							<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
						</div>
					</div>
				</div>
			</header>

	  </div>
	</div>
	

   
  </div>

{% endblock header %}




{% block content  %}





	{% placeholder Events  %}
	{% placeholder Articles  mnt%}
	{% placeholder News  %}
	
	{% placeholder About %}
	{% placeholder workWithUs  %}

	



  
	
{% endblock content %}
