
		<div class="container">

                <a class="navbar-brand" href="/">	<img class="logo navbar-brand" src="../../../static/img/logo3.jpg" alt="faild">دپارتمان اینترنت اشیاء</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
        
                <ul class="navbar-nav ml-auto  ">
    
            <li class="nav-item nav-link">
                <a href="/fa/drbrh-m" class="nav-link js-scroll-trigger">درباره ی ما</a>
            </li>
    
    
            <li class="nav-item nav-link">
                <a href="/fa/hmr-b-m" class="nav-link js-scroll-trigger">همکاری با ما</a>
            </li>
    
    
        
            <li class="rtl nav-item nav-link dropdown">
                <a href="#" class="language dropdown-toggle nav-link" data-toggle="dropdown">دسته بندی <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                                <li class="nav-link nav-item">
                                    <a class="nav-link " href="/fa/dsth-bnd/khnh-hoshmnd">
                                    خانه ی هوشمند
                                    </a>
                                </li>
                                <li class="nav-link nav-item">
                                <a href="/fa/dsth-bnd/shhr-hoshmnd" class="nav-link ">
                                شهر هوشمند
                                </a>
                                </li>
                                <li class="nav-link nav-item">
                                    <a href="/fa/dsth-bnd/snaat-nsl" class="nav-link ">
                                    صنعت نسل ۴
                                    </a>
                                 </li>
                                 <li class="nav-link nav-item">
                                    <a href="/fa/dsth-bnd/mnt" class="nav-link ">
                                    امنیت
                                    </a>
                                    </li>
                        </ul>
                 
                </li>
    
    
                <li class="nav-item nav-link">
                        <a href="/fa/media" class="nav-link js-scroll-trigger">مدیا</a>
                    </li>
    
    
    
                <li class="nav-item nav-link">
                        <a href="/fa/dnshnmh" class="nav-link js-scroll-trigger">دانشنامه</a>
                    </li>
    
    
                <li class="nav-item nav-link">
                        <a href="/fa/events" class="nav-link js-scroll-trigger">رویدادها</a>
                    </li>
            
    
    
                <li class="nav-item nav-link">
                        <a href="/fa/articles" class="nav-link js-scroll-trigger">مقالات</a>
                    </li>
    
    
    
                <li class="nav-item nav-link">
                        <a href="/fa/khbr" class="nav-link js-scroll-trigger">اخبار</a>
                </li>
                <li  class="nav-item nav-link">
                    {% if user.is_authenticated %}
                    Hi {{ user.username }}!
                    <p><a href="logout">logout</a></p>
                    {% else %}
                    <p>You are not logged in</p>
                    <a href="/fa/accounts">login</a>
                    {% endif %}
                </li>
    
    
            
                
                <!--    <li class="nav-item nav-link dropdown">
                        <a href="#" class="language dropdown-toggle nav-link" data-toggle="dropdown">فا/En <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                                    <li class="nav-link nav-item">
                                        <a class="nav-link language " href="/fa">
                                        فارسی
                                        </a>
                                    </li>
                                    <li class="nav-link nav-item">
                                    <a href="/en" class="nav-link language">
                                    English
                                    </a>
                                    </li>
                        </ul>
                     
                    </li> -->
                </ul>
                </div>
        </div>
    
      
    