{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block header %}
<header class="masthead newsheader text-center text-white d-flex"></header>
{% endblock header %}


{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top rtl" id="mainNav">
    {% include "menu.html" %}
	</nav>
	{% endblock %}

{% block content %}
<section class="bg-grayy">
<div class="container">
		<article class="post tag-announcement">
        <header class="post-header">
            <span class="post-meta"><time datetime="2018-06-28">28 Jun 2018</time>, on <a href="/">announcement</a>, <a href="/">0 Comments</a></span>
            <h2 class="post-title"><a href="/">Evolve your fleet: manage multiple device types in one application</a></h2>

        </header>
        <section class="post-excerpt">
            <p>When it comes to managing a fleet of remote devices, we know there are many points of friction. Our goal at resin.io is to eliminate as many of these as we can, and we've put a lot of work into making deployments across device types as similar as possible.<a href="//">…</a></p>
        </section>
		</article>
	
		<article class="post tag-announcement">
        <header class="post-header">
            <span class="post-meta"><time datetime="2018-06-28">28 Jun 2018</time>, on <a href="/">announcement</a>, <a href="/">0 Comments</a></span>
            <h2 class="post-title"><a href="/">Evolve your fleet: manage multiple device types in one application</a></h2>

        </header>
        <section class="post-excerpt">
            <p>When it comes to managing a fleet of remote devices, we know there are many points of friction. Our goal at resin.io is to eliminate as many of these as we can, and we've put a lot of work into making deployments across device types as similar as possible.<a href="/blog/evolve-your-fleet-manage-multiple-device-types-in-one-application/">…</a></p>
        </section>
        </article>
        {%placeholder news%}
</div>
</section>

 
{% endblock content %}
