{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block header %}
<header class="masthead workheader text-center text-white d-flex"





></header>
{% endblock header %}


{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
	{% include "menu.html" %}
	</nav>
	{% endblock %}

{% block content %}

<section class="bg-blue">

	<div class="text-white rtl text-center container">
			<p style="font-size: 25px">
		ما در زمینه‌ی رصد اخبار جهان، ترجمه‌ی مقالات و تکمیل دانشنامه به همکاری افراد زبده و علاقه‌مند احتیاج داریم. اگر مایل به همکاری هستید، با ما تماس بگیرید.
			</br>
		شما همچنین می‌توانید ویدیوها و پادکست های خود را در حوزه ی اینترنت اشیا برای ما بفرستید تا طبق مقررات سایت بارگذاری شوند.
			</p>
	</div>



</section>


<section class="bg-gray">

	<div class="rtl text-center container">
فرم ارسال درخواست و رزومه و ...


	</div>



</section>

 
{% endblock content %}
