{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% block header %}
<header>

</header>
{% endblock header %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top rtl" id="mainNav">
	{% include "menu.html" %}
</nav>
{% endblock %}
{% block content %}
<section id='AboutUs'>
	<div class="rtl container text-center">
		<h1 class="farsi">
			<font style="font-weight: bold">درباره‌ی ما:</font>
		</h1>
		<br />
		<p class="farsi" style="font-size: 25px">
			ما بخش اینترنت اشیا از دپارتمان فنی و مهندسی مرکز رشد واحدهای فناور پیشرفته مخابرات جهاد دانشگاهی هستیم
			که در راستای ارتقای سواد و فناوری اینترنت اشیا در کشور فعالیت می‌کنیم.
		</p>
		<br />
		<h2 style="text-align: right">
			<font style="font-weight: bold">اعضای ما:</font>
		</h2>
		<br />
		<div class="row">
			<div class="text-center col-md-4 col-sm-12 mt-5">
				<a class="text-center" href="#demo1" data-toggle="collapse">
					<img src="../../../static/img/mohy.jpg" class="img-circle person" alt="Mohy" width="200" height="200">
				</a>
				<p class="text-center"><strong>محمد فهیم</strong></p>
				<div id="demo1" class="collapse  marge">
					<p>هم‌بنیان‌گذار و توسعه‌دهنده</p>
					<p> مهندسی برق - مخابرات</p>
					<p> دانشگاه علم و صنعت</p>
				</div>
			</div>
			<div class="text-center col-md-4 col-sm-12 mt-5">

				<a class="text-center" href="#demo2" data-toggle="collapse">
					<img src="../../../static/img/momza.jpg" class="img-circle person" alt="Momza" width="200" height="200">
				</a>
				<p class="text-center"><strong>محمد ملک زاهدی</strong></p>
				<div id="demo2" class="collapse  marge">
					<p>هم‌بنیان‌گذار و توسعه‌دهنده</p>
					<p> مهندسی مکانیک</p>
					<p>دانشگاه تهران</p>
				</div>
			</div>
			<div class="text-center col-md-4 col-sm-12 mt-5">
				<a class="text-center" href="#demo3" data-toggle="collapse">
					<img src="../../../static/img/diako.jpg" class="img-circle person" alt="diako" width="200" height="200">
				</a>
				<p class="text-center"><strong>دیاکو شاکری</strong></p>
				<div id="demo3" class="collapse  marge">
					<p>توسعه‌دهنده</p>
					<p> مهندس برق - مخابرات</p>
					<p>دانشگاه علم و صنعت</p>
				</div>
			</div>
		</div>
		</br>
		</br>
		<div class="row ">
			<div class=" col-xl-3 col-md-6  mt-5">
				<a href="#demo4" data-toggle="collapse">
					<img src="../../../static/img/ahmadreza.jpg" class="img-circle person" alt="Mohy" width="200" height="200">
				</a>
				<p class="text-center"><strong>احمدرضا فراهانی</strong></p>
				<div id="demo4" class="collapse  marge">
					<p>نویسنده</p>
					<p> مهندسی برق - مخابرات</p>
					<p> دانشگاه علم و صنعت</p>
				</div>
			</div>
			<div class=" col-xl-3 col-md-6  mt-5">
				<a href="#demo5" data-toggle="collapse">
					<img src="../../../static/img/shahrzad.jpg" class="img-circle person" alt="Mohy" width="200" height="200">
				</a>
				<p class="text-center"><strong>شهرزاد باغستانی</strong></p>
				<div id="demo5" class="collapse  marge">
					<p>نویسنده</p>
					<p> مهندسی برق - مخابرات</p>
					<p> دانشگاه علم و صنعت</p>
				</div>
			</div>
			<div class=" col-xl-3 col-md-6  mt-5">
				<a href="#demo6" data-toggle="collapse">
					<img src="../../../static/img/alireza.jpg" class="img-circle person" alt="Mohy" width="200" height="200">
				</a>
				<p class="text-center"><strong>علیرضا خلج</strong></p>
				<div id="demo6" class="collapse  marge">
					<p>نویسنده</p>
					<p> مهندسی برق - مخابرات</p>
					<p> دانشگاه علم و صنعت</p>
				</div>
			</div>
			<div class=" col-xl-3 col-md-6  mt-5">
				<a href="#demo7" data-toggle="collapse">
					<img src="../../../static/img/amin.jpg" class="img-circle person" alt="Mohy" width="200" height="200">
				</a>
				<p class="text-center"><strong>امین رزاقی</strong></p>
				<div id="demo7" class="collapse  marge">
					<p>نویسنده</p>
					<p> مهندسی برق - مخابرات</p>
					<p> دانشگاه امیرکبیر</p>
				</div>
			</div>
			<p class="farsi" style="font-size: 25px">
				برای آشنایی بیشتر بامرکز رشد واحدهای فناور پیشرفته مخابرات جهاد دانشگاهی خواجه نصیر
				<a href="../../../static/documents/ساختار مرکز رشد.pdf" class="text-dark">
					اینجا
				</a>
				کلیک کنید
			</p>
</section>
<section class="bg-siyah">
	<div class="rtl text-center container text-white">
		<div id="contact" class="container text-center">
			<div class="row ">
				<div class="col-md-4" style="font-size: 20px">
					<p>با ما در تماس باشید!</p>
					<p><span class="glyphicon glyphicon-map-marker"></span> نشانی: ساختمان ۲ مرکز رشد خواجه نصیر</p>
					<p><span class="glyphicon glyphicon-phone"></span> تلفن: 09368809066</p>
					<p><span class="glyphicon glyphicon-envelope"></span>ایمیل: catuisite@gmail.com</p>
				</div>
				<div class="col-md-8">
					<form action="" method="POST">
						{% csrf_token %}
						<div class="row slideanim">
							<div class="col-sm-6 form-group">
								<input class="form-control" id="name" name="name" placeholder="نام" type="text" required>
							</div>
							<div class="col-sm-6 form-group">
								<input class="form-control" id="email" name="email" placeholder="ایمیل" type="email" required>
							</div>
						</div>
						<textarea class="form-control" id="comments" name="comments" placeholder="نظر" rows="5"></textarea>
						<br>
						<div class="row">
							<div class="col-md-12 form-group">
								<button class="btn pull-right" type="submit">ارسال</button>
							</div>
					</form>
				</div>
			</div>
		</div>
</section>

<!--	<div class="text-white rtl text-center container">
			<p style="font-size: 25px">
		ما در زمینه‌ی رصد اخبار جهان، ترجمه‌ی مقالات و تکمیل دانشنامه به همکاری افراد زبده و علاقه‌مند احتیاج داریم. اگر مایل به همکاری هستید، با ما تماس بگیرید.
			</br>
		شما همچنین می‌توانید ویدیوها و پادکست های خود را در حوزه ی اینترنت اشیا برای ما بفرستید تا طبق مقررات سایت بارگذاری شوند.
			</p>
	</div>-->
{% endblock content %}