{% extends "aldryn_newsblog/base.html" %}
{% load i18n %}

{% block newsblog_content %}
{% if request.get_full_path == "/fa/news/"%}
    <h1 class="text-center bg-grayy bg-main">
        اخبار
    </h1>
{% endif %}
{% if request.get_full_path == "/fa/articles/"%}
    <h1 class="text-center bg-grayy bg-main">
        مقالات
    </h1>
{% endif %}
    {% for article in article_list %}
        {% include "aldryn_newsblog/includes/article.html" %}
    {% empty %}
        <p>{% trans "No items available" %}</p>
    {% endfor %}
{% include "aldryn_newsblog/includes/pagination.html" %}
{% endblock %}
