@font-face {
    font-family: "BTehran";
    src: url("../fonts/BTehran.eot?#") format("eot"), /* IE6–8 */
    url("../fonts/BTehran.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/BTehran.ttf") format("truetype");
    /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: "BRoya";
    src: url("../fonts/BRoya.eot?#") format("eot"), /* IE6–8 */
    url("../fonts/BRoya.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/BRoya.ttf") format("truetype");
    /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: "BNazanin";
    src: url("../fonts/BNazanin.eot?#") format("eot"), /* IE6–8 */
    url("../fonts/BNazanin.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/BNazanin.ttf") format("truetype");
    /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan.eot?#") format("eot"), /* IE6–8 */
    url("../fonts/BYekan.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/BYekan.ttf") format("truetype");
    /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: "IranSans";
    src: url("../fonts/IRANSansWeb.eot?#") format("eot"), url("../fonts/IRANSansWeb.woff") format("woff"), url(../fonts/IRANSansWeb.ttf) format("truetype");
}

@font-face {
    font-family: "IranSansLight";
    src: url("../fonts/IRANSansWeb_Light.eot") format("eot"), url("../fonts/IRANSansWeb_Light.woff") format("woff"), url(../fonts/IRANSansWeb_Light.ttf) format("truetype");
}

body, html {
    width: 100%; 
    height: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

a {
    color: rgb(199, 196, 195);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
}

a:hover {
    color: #f3eae8;
    text-decoration: none;
}

.newsHeader {
    background-color: #212529;
}

@media (min-width: 576px) {
    .jumbotron {
        padding-bottom: 0;
        border-radius: 0%;
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    border: none;
    background-color: #00000059;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #efefef;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(182, 178, 178);
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
}

.persian {
    font-family: IranSansLight;
    font-size: 150%;
}

.persianText {
    font-family: IranSansLight;
    font-size: 150%;
}

.persianTitle {
    font-family: IranSansLight;
    font-size: 250%;
}
.rtl {
    direction: rtl;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(54, 53, 53, 0.5);
}

.header_logo {
    padding-top: 50px;
    padding-bottom: 20px;
}

.header_logo img {
    width: 200px;
}

.logo {
    width: 50px;
    border-radius: 30%;
    opacity: 0.5;
    padding-right: 5px;
}

.logo:hover {
    opacity: 1;
}

.copyright {
    opacity: 0.5;
    font-size: 13px;
    font-family: "Courier New", Courier, monospace;
}

.copyright:hover {
    opacity: 1;
}

footer>section {
    padding-bottom: 0px;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
}

hr.light {
    border-color: #fff;
}

.section-heading {
    margin-top: 0;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #f05f40;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #f05f40;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
    background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #f05f40 !important;
    background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: 130%;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;
}

#mainNav .navbar-brand {
    font-size: 120%;
    font-family: IranSansLight;
    font-weight: 700;
    text-transform: uppercase;
}

.bg-primary {
    background-color: #f05f40 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.bg-black {
    background-color: black;
}

@media (min-width: 992px) {
    #mainNav .navbar-brand {
        color: #2b3a42;
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: #bdd4de;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #2b3a42;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
        color: #bdd4de;
    }
    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #2b3a42;
        height: 80px;
    }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
        color: #efefef;
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
        color: #efefef;
    }
    #mainNav {
        border-color: transparent;
        background-color: transparent;
        height: 120px;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        padding: 10px;
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #bdd4de;
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #bdd4de;
    }
}

.bg-navy {
    background-color: #1b2331;
}

.bg-navy2 {
    background-color: #141a25;
}

.hr-color {
    width: 60px;
    border-color: #0bf;
}

footer>section {
    padding-top: 10px;
}

.tozihat {
    font-size: 25px;
}

.footerelements {
    font-size: 20px;
}

.signupheader {
    background-image: url("../img/19.jpg");
}

section {
    padding: 8rem 0;
}

footer h6 {
    font-family: IranSansLight;
    font-size: 140%;
}

footer>section>div:nth-child(3) a, footer>section>div:nth-child(3)>div>div>p {
    font-family: monospace;
}

.footerlink {
    font-family: monospace;
}

.bg-siyah {
    background-color: #1b1915;
}

.bg-sefid {
    background-color: whitesmoke;
}

#events {
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: #efefef;
}
h1{
    margin: 0 !important;
}
#events h3, h2 {
    font-family: IranSansLight;
}

#news h2 {
    font-family: IranSansLight;
}

#events hr {
    border-color: #043241;
}

#news hr {
    border-color: antiquewhite;
}

.spacer {
    border: solid;
    border-color: #9d9d9d;
    border-radius: 20px;
    height: 250px;
    margin: 0px 0px 20px 0px;
}

.post * {
    direction: rtl;
    text-align: right;
}

.spacer {
    overflow: scroll;
    overflow-x: hidden;
}

.spacer {
    -ms-overflow-style: none;
}

.spacer {
    overflow: -moz-scrollbars-none;
}

.spacer:hover {
    background-color: #3f464e;
}

.spacer h2>a:hover {
    text-decoration: none;
    color: white;
}

.spacer::-webkit-scrollbar {
    width: 0px !important;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.spacer .authorname {
    color: whitesmoke;
}

#articles .spacer .post-excerpt, #articles .authorname {
    color: black;
}

#articles .spacer:hover {
    background-color: #e1e1e1;
}

.latest_article_article {
    margin-top: 5px;
}

.newsheader {
    background-image: url("../img/5.jpg");
}

.post-meta {
    display: inline-block;
    margin: 0 0 5px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #9eabb3;
}

.post-meta a:hover {
    text-decoration: underline;
}

.post-meta a {
    color: #9eabb3;
    text-decoration: none;
}

.post {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #209ce2 1px solid;
    word-break: break-word;
}

.post span {
    font-family: IranSansLight !important;
    line-height: 180%;
}

.post-title {
    margin: 0;
    font-family: IranSansLight;
}

article h2 {
    font-size: 2rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
}

.post:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: rgb(50, 175, 247) 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #fff 0 0 0 2px;
}

article>header>h2>a {
    color: #514f4f;
    font-family: sans-serif;
}

article>header>h2>a:hover {
    color: #57a3e8;
    text-decoration: none;
}

.post-title a {
    text-decoration: none;
    color: #043241;
}

.post-title a:hover {
    color: #57a3e8;
    text-decoration: none;
}

.post-excerpt {
    margin: 0px;
    padding: 0px;
    font-family: IranSansLight;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #e1e1e1;
    background: rgb(8, 159, 230);
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

.articlesheader {
    background-image: url("../img/6.jpg");
}

.workheader {
    background-image: url("../img/7.jpg");
}

.bg-blue {
    background-color: #0f3c69;
}

.bg-gray {
    background-color: lightgray;
}


.bg-grayy {
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    font-family: IranSansLight !important;
}

#mainNav {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    font-family: IranSansLight;
}

.login {
    font-size: 11px;
}

.loginicon {
    margin-left: 5px;
}

.dropdown-toggle::after {
    vertical-align: 0px;
}

#mainNav .navbar-nav>li.nav-item>a.login, #mainNav .navbar-nav>li.nav-item>a.login:focus {
    font-size: 80%;
    padding-top: 14px;
}

.english {
    font-family: monospace;
}


.user {
    font-size: 10px !important;
    font-weight: normal !important;
    text-transform: none !important;
    display: inline !important;
}

.user:hover {
    color: #1b2331;
}


#mainNav .navbar-nav>li.nav-item>a.logout, #mainNav .navbar-nav>li.nav-item>a.logout:focus {
    font-size: 10px;
    padding-top: 0px;
}

.username {
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #bdd4de !important;
}

.img-circle {
    border-radius: 50%;
}

.authorname {
    margin-left: 10px;
    font-weight: bold;
    text-transform: capitalize;
    color: #1b2331 !important;
}

.continue a {
    color: #1b2331;
}

.pno a {
    color: #043241;
    margin: 0 10px 0 10px;
    text-decoration: underline;
    font-family: monospace;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.authordetail {
    text-align: left !important;
}

.simpleHeader {
    min-height: 650px;
    background-color: #efefef;
    padding-top: 150px;
    padding-bottom: 190px;
}


.simpleHeader .form-control {
    border-color: #2b3a42;
}

.bg-fili {
    background-color: #3f5765;
}

#AboutUs {
    background-color: #efefef;
}

.bg-main {
    background-color: #efefef !important;
}

#pagindiv>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#pagindiv>ul li {
    display: inline;
    padding: 0 10px 0 10px;
}

#pagindiv a {
    color: #1c678f;
}

#pagindiv a:hover {
    color: #0f3c69;
}

.padhead {
    padding-top: 150px;
}

.farsi p {
    direction: rtl;
    text-align: right !important;
}

.margins {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="margins"] {
        width: 90%;
    }
}

.service-box {
    max-width: 400px;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
