.newsHeader{
    background-color: #212529;
  }
  @media (min-width: 576px) {
    .jumbotron {
      padding-bottom: 0;
      border-radius: 0%;
  }
  }
  .jumbotron{
      background-color: #212529;
      margin-bottom: 0px;
  }

  @font-face {
    font-family: 'BTehran';
    src: url('../fonts/BTehran.eot?#') format('eot'),  /* IE6–8 */
         url('../fonts/BTehran.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/BTehran.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
    }
 @font-face {
      font-family: 'BMorvarid';
      src: url('../fonts/BMorvarid.eot?#') format('eot'),  /* IE6–8 */
           url('../fonts/BMorvarid.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
           url('../fonts/BMorvarid.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
    }
@font-face {
        font-family: 'BRoya';
        src: url('../fonts/BRoya.eot?#') format('eot'),  /* IE6–8 */
             url('../fonts/BRoya.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             url('../fonts/BRoya.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
      }
@font-face {
        font-family: 'BNazanin';
        src: url('../fonts/BNazanin.eot?#') format('eot'),  /* IE6–8 */
             url('../fonts/BNazanin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             url('../fonts/BNazanin.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
      }
@font-face {
        font-family: 'BYekan';
        src: url('../fonts/BYekan.eot?#') format('eot'),  /* IE6–8 */
             url('../fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             url('../fonts/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
      } 
  


.dropdown:hover>.dropdown-menu {
    display: block;
}
  /*
.dropdown>.dropdown-toggle:active {
   
      pointer-events: none;
  }  */
.dropdown-menu{
    border: none;
    background-color: rgba(85, 85, 85, 0.8);
    

}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: rgb(146, 173, 185);
    
   text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link{
    color:rgb(182, 178, 178);
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}
.headerimg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
}
.persian{
    font-family: BRoya;
    font-size: 150%;
}
.persianText{
    font-family: BRoya;
    font-size: 150%;

}
.persianTitle{
    font-family: BRoya;
    font-size: 250%;
}
.size{
    width: 50%;
    opacity: 0.5;
}

.size:hover{
    opacity: 1;
}

.size2{

    width: 30%;
    border-radius: 20%;
    opacity: 0.7;
}
.size2:hover{
    opacity: 1;
}

.rtl{
   direction: rtl;
}
.language{
    color: whitesmoke;
    font-weight: bold;
}
footer .col-lg-3:not(:last-child) {
    border-right: 1px solid rgb(196, 190, 190,0.5);
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgb(54, 53, 53,0.5);
}
/*
.cursor { cursor: url("../img/mouse2.png"), auto; }
a {  cursor: url("../img/pointer.png"), auto; }

*/
.logo{
    width: 50px;
    border-radius: 30%;
    opacity: 0.5;
    padding-right: 5px;
}
.logo:hover{
    opacity: 1;
}
footer > section {
    padding-bottom: 0px;
}
.copyright{
    opacity: 0.5;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}
.copyright:hover{
    opacity: 1;
    
}
@media (min-width: 992px){
#mainNav .navbar-nav > li.nav-item > a.nav-link {
  padding: 10px; 
}}
header.masthead2 {
    background-image: url("../img/1.jpg");

}
header.masthead1 {
    background-image: url("../img/3.jpg");
    
}
header.masthead3 {
    background-image: url("../img/2.jpg");
    
}
header.masthead4 {
    background-image: url("../img/4.jpg");
    
}
#mainNav .navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {

    font-size: 85%;

}
#mainNav .navbar-brand{
    font-size: 120%;
}
.bg-black{
    background-color: black;
}
@media (min-width: 992px){
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: whitesmoke;
}
#mainNav.navbar-shrink .navbar-brand {
    color:rgb(182, 178, 178);
    
}
}
.bg-navy{
    background-color:#1b2331;
}
.bg-navy2{
    background-color: #141a25;
}
.hr-color{
    
    width: 60px;
    border-color: #0bf;
}
footer > section {
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
Footer h6{
    font-family: BRoya;
    font-size: 19px;
}
.bg-events{
    background-color: #f0a800;
}