.newsHeader{
    background-color: #212529;
  }
  @media (min-width: 576px) {
    .jumbotron {
      padding-bottom: 0;
      border-radius: 0%;
  }
  }
  .jumbotron{
      background-color: #212529;
      margin-bottom: 0px;
  }

  @font-face {
    font-family: 'BTehran';
    src: url('../fonts/BTehran.eot?#') format('eot'),  /* IE6–8 */
         url('../fonts/BTehran.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/BTehran.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
    }
 @font-face {
      font-family: 'BMorvarid';
      src: url('../fonts/BMorvarid.eot?#') format('eot'),  /* IE6–8 */
           url('../fonts/BMorvarid.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
           url('../fonts/BMorvarid.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
    }


.persian{

    font-family: BTehran;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
  /*
.dropdown>.dropdown-toggle:active {
   
      pointer-events: none;
  }  */

 

header.masthead2 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
header.masthead3 {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);

  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 992px){
header.masthead2 {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
}
}
    
@media (min-width: 992px){
header.masthead3 {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
}
}
.dropdown-menu{
    border: none;
    background-color: rgb(139, 139, 133,0.4);
    margin-top: 10px;

}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
   color: whitesmoke;
   text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(153, 147, 147);
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}
.headerimg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}