
{% load cms_tags menu_tags sekizai_tags  %}


    <ul class="navbar-nav ml-auto">
    {% for child in children %}
<!-- no child pages  -->
        {% if child.is_leaf_node %}
            <li class="nav-item nav-link "><a class="nav-link js-scroll-trigger" href="{{ child.get_absolute_url }}">{{child.get_menu_title }}</a></li>
        {% endif %}
<!-- /no child pages  -->
<!-- has child pages  -->
        {% if not child.is_leaf_node or child.ancestor %}
            <li class="nav-item nav-link  dropdown">
                <a  href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                {{child.get_menu_title }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if child.get_descendants %}
                        {% for kid in child.get_descendants %}
                            <li class="nav-link nav-item">
                                <a class="nav-link " href="{{ kid.get_absolute_url }}">
                                    {{kid.get_menu_title }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
        {% endif %}
<!-- /has child pages  -->
    {% endfor %} 
<!-- /end for child -->
</ul>
