<!--{% load cms_tags menu_tags  cache  %}

{% for child in children %}

    <li class="nav-item nav-link js-scroll-trigger ">

        <a class="nav-link js-scroll-trigger" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        
    </li>

{% endfor %} -->
{% load cms_tags menu_tags cache  %}

<div class="dropdown">
    <ul class="navbar-nav ml-auto">
    {% for child in children %}
<!-- no child pages  -->
        {% if child.is_leaf_node %}
            <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link" href="{{ child.get_absolute_url }}">{{child.get_menu_title }}</a></li>
        {% endif %}
<!-- /no child pages  -->
<!-- has child pages  -->
        {% if not child.is_leaf_node or child.ancestor %}
            <li class="nav-item nav-link js-scroll-trigger dropdown">
                <a  href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                {{child.get_menu_title }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if child.get_descendants %}
                        {% for kid in child.get_descendants %}
                            <li class="nav-item nav-link js-scroll-trigger">
                                <a class="nav-link" href="{{ kid.get_absolute_url }}">
                                    {{kid.get_menu_title }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
        {% endif %}
<!-- /has child pages  -->
    {% endfor %} 
<!-- /end for child -->
</ul>
</div>